:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --darker-blue: #061e25;
  --dark-blue: #082831;
  --light-green: #83ab55;
  --light-gray: #d8e1ec;
  --light-blue: #11576f;
}

table {
  border-collapse: collapse;
}

.headerDiv {
  background-color: var(--dark-blue);
}

.container {
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  min-height: 140vh;
}

.mainTitle {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--light-gray);
  margin-top: 0;
  margin-bottom: 5rem;
}

.destinations {
  background-color: rgba(17, 87, 111, 0.5);
  box-shadow: 0px 3.0422677993774414px 3.0422677993774414px rgba(0, 0, 0, 0.25);
  margin-bottom: 4rem;
  border-radius: 9px;
}

.tableTitle {
  background-color: rgba(8, 40, 49, 0.85);
  color: var(--light-gray);
  font-size: 18px;
  margin: 0;
  padding: 1rem 4rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  text-align: center;
}

.tableHeadRow {
  color: var(--light-gray);
}

.table {
  padding: 0 2.5rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.tableDataRow {
  height: 160px;
}

.tableCell,
.tableDataCell {
  font-size: 14.5px;
  text-transform: uppercase;
  color: var(--light-gray);
  padding: 1.5rem;
  text-align: center;
}

.tableCell {
  background-color: rgba(17, 87, 111, 0.5);
}

.tableDataCell {
  background-color: rgba(8, 40, 49, 0.63);
  font-size: 11.4px;
  font-weight: bold;
  padding: 2rem;
}

.tableDataCell:last-child div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 160px;
}

.addNewButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--light-green);
  width: 70px;
  padding: 0 10px;
  border-radius: 20px;
  cursor: pointer;
}

.addNewButton p {
  font-size: 9px;
  color: var(--light-gray);
}

.actionButton {
  cursor: pointer;
}

.table thead th:last-child {
  display: flex;
  justify-content: center;
}

.table tbody tr:not(:last-child) {
  border-bottom: 2px solid var(--light-gray);
}

.table tbody tr td:nth-child(2) {
  max-width: 230px;
  padding-left: 0;
  padding-right: 0;
}

.table tbody tr td:nth-child(4) {
  max-width: 300px;
  text-align: justify;
}

.accordionContainer {
  display: none;
}

.modal {
  display: none;
  background-color: var(--light-gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 1040px;
  border-radius: 9px;
  z-index: 10200;
}

.modal.open {
  display: inline-block;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.title {
  color: var(--dark-blue);
  text-transform: uppercase;
  margin-top: 4rem;
}

.modalForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.modalForm input,
.modalForm textarea {
  background-color: #bbb;
  font-family: inherit;
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 20rem;
  padding: 11px 10px;
}

.modalForm .detailedDescription {
  text-align: left;
  font-size: 16px;
  padding-left: 15px;
  height: 230px;
  resize: none;
}

.modalForm .briefDescription {
  text-align: left;
  font-size: 16px;
  padding-left: 15px;
  height: 150px;
  resize: none;
}

.modalForm textarea::placeholder {
  color: var(--dark-blue);
}

.modalForm input::placeholder {
  color: var(--dark-blue);
}

.modalForm button {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  font-weight: bold;
  width: 160px;
  padding: 10px;
  border-radius: 20px;
}

@media (max-width: 1069px) {
  .headerDiv {
    position: relative;
    z-index: 1002;
  }

  .container {
    min-height: 152vh;
  }

  .table {
    display: none;
  }

  .destinations {
    width: 600px;
  }

  .tableDataCell {
    background-color: transparent;
  }

  .addNewButton {
    width: 100px;
    padding: 0 10px;
    margin: 2rem;
  }

  .addNewButton p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--light-gray);
  }

  .accordionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .accordionItem {
    position: relative;
    border-bottom: 2px solid #ccc;
    height: 400px;
    overflow: hidden;
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center;
    z-index: 100;
  }

  .accordionItem:last-child {
    border-bottom: none;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .destinationName {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    color: var(--light-gray);
  }

  .accordionContent {
    opacity: 0;
  }

  .showDetails .accordionContent {
    position: relative;
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 1rem 2rem;
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 100;
  }

  .showDetails .destinationName {
    display: none;
  }

  .accordionContent .accordionText:first-child {
    font-size: 30px;
  }

  .accordionContent .accordionText:nth-child(3) {
    text-align: justify;
  }

  .actionButtons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 100;
  }

  .actionButton {
    cursor: pointer;
  }

  .actionButton:hover svg {
    transform: scale(1.1);
  }
}

@media (max-width: 659px) {
  .destinations {
    width: 400px;
  }

  .accordionItem {
    height: 500px;
  }

  .showDetails .accordionContent {
    justify-content: center;
    text-align: center;
    height: 500px;
  }

  .accordionContent {
    align-items: normal;
    padding: 1rem;
    gap: 2rem;
  }

  .accordionContent .accordionText {
    display: flex;
    flex-direction: column;
  }

  .accordionContent .accordionText:first-child {
    font-size: 24px;
  }

  .accordionContent .accordionText:nth-child(3) {
    font-size: 12px;
  }
}

@media (max-width: 430px) {
  .mainTitle {
    font-size: 25px;
  }

  .destinations {
    width: 250px;
  }

  .accordionItem {
    position: relative;
    border-bottom: 2px solid #ccc;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center;
    z-index: 100;
  }

  .accordionItem:last-child {
    border-bottom: none;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .destinationName {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    color: var(--light-gray);
  }

  .accordionContent {
    opacity: 0;
  }

  .showDetails .accordionContent {
    position: relative;
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 0.5rem 1rem;
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 100;
  }

  .showDetails .destinationName {
    display: none;
  }

  .accordionText {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordionContent .accordionText:first-child {
    font-size: 17px;
  }

  .accordionContent .accordionText:nth-child(3) {
    text-align: justify;
  }

  .actionButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    z-index: 100;
  }

  .actionButton {
    cursor: pointer;
  }

  .actionButton:hover svg {
    transform: scale(1.1);
  }

  .addNewButton {
    width: 80px;
    padding: 0 10px;
    margin: 2rem;
  }

  .addNewButton p {
    font-size: 13px;
    font-weight: bold;
    color: var(--light-gray);
  }

  .modal {
    width: 300px;
    height: 960px;
  }

  .title {
    font-size: 20px;
  }

  .modalForm {
    margin-top: 1rem;
  }

  .modalForm input {
    font-size: 12px;
    width: 13rem;
  }

  .modalForm textarea {
    font-size: 12px;
    width: 12.7rem;
  }

  .modalForm .detailedDescription {
    font-size: 13px;
  }

  .modalForm .briefDescription {
    font-size: 13px;
  }
}
