:root {
  --dark-blue: #082831;
  --light-green: #83ab55;
  --light-gray: #d8e1ec;
  --light-blue: #11576f;
}

button {
  border: none;
}

.carousel {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.carouselContainer {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  gap: 4rem;
  border-radius: 5px;
  padding: 2rem;
}

.rightArrow,
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: var(--light-gray);
  padding: 1rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}
.rightArrow {
  right: -80px;
}

.leftArrow {
  left: -70px;
}

.carouselItem img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.destinationCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-gray);
  width: 280px;
  height: 450px;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
}

.destinationCard img {
  width: 270px;
  height: auto;
  border-radius: 9px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
  align-self: center;
}

.destinationInfo {
  padding: 0 0.5rem;
  color: var(--dark-blue);
}

.destinationInfo > div {
  display: flex;
  justify-content: space-around;
}

.destinationInfo h3 {
  font-size: 22px;
}

.destinationInfo p {
  font-size: 9.5px;
}
.destinationInfo .price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.destinationInfo .address {
  display: flex;
  align-items: center;
  gap: 5px;
}

.destinationButton {
  margin-top: 1.5rem;
}

.destinationButton button {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  padding: 0.75rem 2rem;
  border-radius: 9px;
}

.destinationButton button:hover {
  background-color: var(--light-blue);
  color: var(--light-green);
}

.review {
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 330px;
  border-radius: 9px;
}

.review .name {
  font-size: 22px;
  color: var(--light-gray);
}

.review #quotationMark {
  width: 45px;
  margin-top: 2rem;
}

.review p {
  text-align: center;
  color: var(--light-gray);
  padding: 1rem 0;
  margin: 0 2rem;
}
