:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-blue: #082831;
  --light-green: #83ab55;
  --light-gray: #d8e1ec;
  --light-blue: #11576f;
}

.container > h1,
.container > h2,
.container > h3,
.container > h4,
.container > h5,
.container > h6 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: var(--dark-blue);
  width: 100%;
  height: 100vh;
}

.topPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.backButton {
  cursor: pointer;
  margin-left: 4rem;
}

.logo {
  width: 150px;
  height: auto;
  margin-right: 3rem;
  z-index: 1001;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.content > h1,
.content > h3 {
  color: var(--light-gray);
}

.content h1 {
  font-size: 50px;
}

.content h3 {
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form input {
  font-size: 16px;
  font-family: inherit;
  height: 24px;
  width: 400px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 4px;
  outline: none;
}

.form button {
  font-weight: bold;
  font-family: inherit;
  color: var(--dark-blue);
  width: 160px;
  padding: 10px;
  border-radius: 20px;
}

@media (max-width: 970px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .imgWrapper {
    height: 200px;
    width: 200px;
  }

  .imgWrapper > img {
    height: 200px;
    width: 200px;
  }

  .content {
    align-items: center;
  }

  .content h1 {
    font-size: 40px;
  }

  .content h3 {
    font-size: 14px;
  }

  .form input {
    font-size: 14px;
    width: 300px;
  }
}

@media (max-width: 450px) {
  .backButton {
    margin-left: 3rem;
  }

  .logo {
    margin-right: 1rem;
  }

  .content h1 {
    font-size: 30px;
  }

  .content h3 {
    font-size: 12px;
  }

  .form input {
    font-size: 12px;
    width: 250px;
  }

  .form button {
    width: 120px;
  }
}
