:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --darker-blue: #061e25;
  --dark-blue: #082831;
  --light-green: #83ab55;
  --light-gray: #d8e1ec;
  --light-blue: #11576f;
}

table {
  border-collapse: collapse;
}

.container {
  background: var(--light-blue);
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* min-height: 41.2vh; */
  /* min-height: 1107.25px; */
  min-height: 408px;
}

.headerDiv {
  background-color: var(--dark-blue);
}

.mainTitle {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--light-gray);
  margin-top: 0;
  margin-bottom: 5rem;
}

.usersBookings {
  box-shadow: 0px 3.0422677993774414px 3.0422677993774414px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  margin-bottom: 6rem;
}

.tableTitle {
  background-color: rgba(8, 40, 49, 0.85);
  color: var(--light-gray);
  font-size: 18px;
  margin: 0;
  padding: 1rem 4rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.tableHeadRow {
  color: var(--light-gray);
}

.table {
  padding: 0 2.5rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.tableCell,
.tableDataCell {
  font-size: 14.5px;
  text-transform: uppercase;
  color: var(--light-gray);
  /* padding: 30px 40px 30px 40px; */
  padding: 1.5rem;
  text-align: center;
}

.tableDataCell {
  background-color: rgba(8, 40, 49, 0.63);
  font-size: 11.4px;
  font-weight: bold;
  padding: 2rem;
}

.tableDataCell:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 3rem; */
  gap: 3rem;
}

.table tbody tr:not(:last-child) {
  border-bottom: 2px solid var(--light-gray);
}

.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 9px;
}

.table tbody tr:last-child td:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 3rem; */
  gap: 3rem;
  border-bottom-right-radius: 9px;
}

.noBookedDestinationsDiv {
  font-size: 1.5rem;
  background-color: var(--light-gray);
  color: var(--darker-blue);
  padding: 2rem;
  border-radius: 9px;
}

.noBookedDestinationsDiv p {
  margin: 0;
}

.addNewReview {
  background-color: var(--light-gray);
  color: var(--darker-blue);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
