:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --darker-blue: #061e25;
  --dark-blue: #082831;
  --light-green: #83ab55;
  --light-gray: #d8e1ec;
  --light-blue: #11576f;
}

table {
  border-collapse: collapse;
}

.container {
  background: var(--light-blue);
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.headerDiv {
  background-color: var(--dark-blue);
}

.mainTitle {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--light-gray);
  margin-top: 0;
  margin-bottom: 5rem;
}

.usersBookings {
  box-shadow: 0px 3.0422677993774414px 3.0422677993774414px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  margin-bottom: 6rem;
}

.tableTitle {
  background-color: rgba(8, 40, 49, 0.85);
  color: var(--light-gray);
  font-size: 18px;
  margin: 0;
  padding: 1rem 4rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.tableHeadRow {
  color: var(--light-gray);
}

.table {
  padding: 0 2.5rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.tableCell,
.tableDataCell {
  font-size: 14.5px;
  text-transform: uppercase;
  color: var(--light-gray);
  padding: 1.5rem;
  text-align: center;
}

.tableDataCell {
  background-color: rgba(8, 40, 49, 0.63);
  font-size: 11.4px;
  font-weight: bold;
  padding: 2rem;
}

.tableDataCell:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.table tbody tr:not(:last-child) {
  border-bottom: 2px solid var(--light-gray);
}

.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 9px;
}

.table tbody tr:last-child td:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-bottom-right-radius: 9px;
}

.accordionContainer {
  display: none;
}

.noBookedDestinationsDiv {
  font-size: 1.5rem;
  background-color: var(--light-gray);
  color: var(--darker-blue);
  padding: 2rem;
  border-radius: 9px;
}

.noBookedDestinationsDiv p {
  margin: 0;
}

.writeReviewDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.writeReviewDiv p {
  font-size: 20px;
  color: var(--light-gray);
}

.writeReviewDiv button {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  font-weight: bold;
  width: 160px;
  padding: 10px;
  border-radius: 20px;
}

/* .reviewAction {
  background-color: var(--light-gray);
  color: var(--darker-blue);
  font-weight: bold;
  padding: 0 0.8rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal {
  display: none;
  background-color: var(--light-gray);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 660px;
  border-radius: 9px;
  z-index: 101;
}

.modal.open {
  display: inline-block;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.title {
  color: var(--dark-blue);
  text-transform: uppercase;
  margin-top: 4rem;
}

.modalForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.modalForm input,
.modalForm textarea {
  background-color: #bbb;
  font-family: inherit;
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 20rem;
  padding: 11px 10px;
}

.modalForm .detailedDescription {
  text-align: left;
  font-size: 16px;
  padding-left: 15px;
  height: 230px;
  resize: none;
}

.modalForm .briefDescription {
  text-align: left;
  font-size: 16px;
  padding-left: 15px;
  height: 150px;
  resize: none;
}

.modalForm textarea::placeholder {
  color: var(--dark-blue);
}

.modalForm input::placeholder {
  color: var(--dark-blue);
}

.modalForm button {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  font-weight: bold;
  width: 160px;
  padding: 10px;
  border-radius: 20px;
} */

@media (max-width: 840px) {
  .headerDiv {
    position: relative;
    z-index: 1003;
  }

  .table {
    display: none;
  }

  .accordionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
  }

  .accordionItem {
    background-color: rgba(8, 40, 49, 0.63);
    padding: 2rem 1rem;
    border-bottom: 2px solid #ccc;
  }

  .accordionItem:last-child {
    border-bottom: none;
  }

  .accordionContent {
    position: relative;
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 10px;
  }

  .accordionContent .accordionText:nth-child(3) {
    text-align: justify;
  }

  .accordionContent .accordionText {
    color: var(--light-gray);
    padding: 1rem 0;
  }

  .writeReviewDiv {
    margin-bottom: 2rem;
  }

  .writeReviewDiv p {
    font-size: 16px;
  }

  /* .actionButtons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .actionButton {
    cursor: pointer;
  }

  .actionButton:hover svg {
    transform: scale(1.1);
  } */
}

@media (max-width: 600px) {
  .container {
    min-height: 76vh;
  }

  .mainTitle {
    font-size: 30px;
    text-wrap: wrap;
    text-align: center;
  }

  .tableTitle {
    text-align: center;
  }

  .accordionContainer {
    width: 350px;
  }

  .noBookedDestinationsDiv {
    font-size: 1rem;
    background-color: var(--light-gray);
    color: var(--darker-blue);
    padding: 2rem;
    border-radius: 9px;
  }

  .writeReviewDiv p {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .tableTitle {
    padding: 1rem 40px;
  }

  .accordionContainer {
    width: 300px;
  }

  .accordionContent .accordionText {
    padding: 0.5rem;
  }

  .writeReviewDiv p {
    font-size: 14px;
    width: 300px;
    text-align: center;
  }

  /* .actionButtons {
    flex-direction: column;
    align-items: center;
    gap: 0;
  } */

  /* .reviewAction {
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
}
