:root {
  --dark-blue: #082831;
  --light-green: #83ab55;
  --light-gray: #d8e1ec;
  --light-blue: #11576f;
}

button {
  border: none;
}

.carousel {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: medium;
}

.carouselContainer {
  position: relative;
  height: 500px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  gap: 2rem;
  border-radius: 5px;
  padding: 2rem;
}

.rightArrow,
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: var(--light-gray);
  padding: 1rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}
.rightArrow {
  right: 20px;
}

.leftArrow {
  left: 20px;
}

.carouselItem img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid var(--dark-blue);
}

.destinationCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-gray);
  width: 270px;
  height: 480px;
  padding: 0rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
}

.destinationCard img {
  width: 270px;
  height: 180px;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
  align-self: center;
}

.destinationInfo {
  padding: 0 0.5rem;
  color: var(--dark-blue);
  height: 190px;
}

.destinationInfo > div {
  display: flex;
  justify-content: space-around;
}

.destinationInfo h3 {
  font-size: 19.64px;
  margin-top: 10px;
  width: 195px;
}

.destinationInfo p {
  font-size: 10px;
  text-align: justify;
}

.destinationBottomPart {
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price p {
  font-size: 13px;
  font-weight: bold;
}

.destinationButton {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
}

.destinationButton:hover {
  background-color: var(--light-blue);
  color: var(--light-gray);
}

.review {
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 300px;
  height: 350px;
  border: 2px solid var(--light-green);
  border-radius: 9px;
}

.review .name {
  font-size: 22px;
  color: var(--light-gray);
}

.review .destinationName {
  font-size: 16px;
  color: var(--light-gray);
  margin: 0;
  margin-bottom: 1rem;
}

.review .rating {
  display: flex;
  gap: 5px;
}

.review p {
  text-align: center;
  color: var(--light-gray);
  padding: 1rem 0;
  margin: 0 2rem;
}

.review .commentParagraph {
  position: relative;
  margin-top: 1rem;
}

.review .leftQuote,
.review .rightQuote {
  position: absolute;
}

.review .leftQuote {
  top: 5%;
  left: 7%;
}

.review .rightQuote {
  bottom: 5%;
  right: 7%;
}

.review .commentParagraph p {
  font-size: 15px;
  width: 236px;
}

@media (max-width: 550px) {
  .carouselContainer {
    height: 350px;
  }

  .carouselContent {
    width: 70%;
  }

  .destinationCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-gray);
    width: 210px;
    height: 400px;
    padding: 0rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
  }

  .destinationCard img {
    width: 200px;
    height: 120px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    align-self: center;
  }

  .destinationInfo {
    padding: 0 0.5rem;
    color: var(--dark-blue);
  }

  .destinationInfo > div {
    display: flex;
    justify-content: space-around;
  }

  .destinationInfo h3 {
    font-size: 15px;
  }

  .destinationInfo p {
    font-size: 9px;
  }

  .destinationBottomPart {
    margin: 0;
  }

  .destinationButton {
    background-color: var(--dark-blue);
    color: var(--light-gray);
    padding: 10px 15px;
    border-radius: 20px;
  }

  .review {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    border: 2px solid var(--light-green);
    border-radius: 9px;
  }

  .review .name {
    font-size: 18px;
    color: var(--light-gray);
  }

  .review .title {
    font-size: 14px;
    color: var(--light-gray);
    margin: 1rem 0;
  }

  .review .rating {
    display: flex;
    gap: 5px;
  }

  .review p {
    font-size: 12px;
    text-align: center;
    color: var(--light-gray);
    padding: 1rem 0;
    margin: 0 2rem;
  }
}

@media (max-width: 430px) {
  .destinationCard {
    width: 170px;
    height: 380px;
  }

  .destinationCard img {
    width: 180px;
  }

  .price p {
    font-size: 10px;
  }

  .destinationButton {
    font-size: 10px;
  }
}
