:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --darker-blue: #061e25;
  --dark-blue: #082831;
  --light-green: #83ab55;
  --light-gray: #d8e1ec;
  --light-blue: #11576f;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subcontainer {
  background-color: var(--darker-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  min-height: 100vh;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.mainContent img {
  width: 550px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
}

.topPart {
  display: flex;
  justify-content: space-between;
}

.name {
  color: var(--light-gray);
  margin-top: 0;
}

.averageRating {
  color: var(--light-gray);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem 20px 0;
  border-radius: 9px;
}

.mainPart {
  display: flex;
  gap: 3rem;
}

.leftSide {
  margin: auto;
}

.imageContainer {
  margin: auto;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}

.description {
  font-size: 16px;
  width: 700px;
  color: var(--light-gray);
  text-align: justify;
}

.description:last-child {
  margin-bottom: 0;
}

.bottomPart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.price {
  color: var(--light-gray);
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 5px 7px;
  border: medium solid var(--darker-blue);
  border-radius: 9px;
}

.bookNowButton {
  background-color: var(--light-green);
  color: var(--darker-blue);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 35px;
  border: medium solid var(--darker-blue);
  border-radius: 20px;
}

.reviewsDiv {
  align-self: center;
  color: var(--light-gray);
  height: 100%;
  width: 708px;
  margin: 3rem 0;
  padding: 0 20px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.reviewsDiv h2 {
  font-size: 28px;
  margin: 0;
  padding: 20px 0;
}

.reviewsDiv ul {
  color: var(--light-gray);
  width: 100%;
  height: 100%;
  padding: 0;
}

.scrollable {
  max-height: 400px;
  overflow-y: auto;
}

@media (max-width: 1440px) {
  .name {
    padding: 0 1rem;
  }

  .mainPart {
    display: flex;
    flex-direction: column;
  }

  .leftSide {
    width: 100%;
  }

  .imageContainer {
    width: 100%;
  }

  .imageContainer img {
    width: 100%;
  }

  .rightSide {
    margin-bottom: 3rem;
  }

  .description {
    margin-top: 0;
  }

  .reviewsDiv {
    margin: 1rem 0;
  }
}

@media (max-width: 800px) {
  .headerDiv {
    position: relative;
    z-index: 1003;
  }

  .mainContent {
    width: 100%;
  }

  .leftSide {
    width: 100%;
  }

  .imageContainer {
    width: 94%;
  }

  .imageContainer img {
    margin: auto;
    height: 400px;
  }

  .rightSide {
    width: 580px;
  }

  .description {
    font-size: 13px;
    width: 580px;
  }

  .price {
    font-size: 13px;
  }

  .bookNowButton {
    font-size: 13px;
    padding: 7px 25px;
  }

  .reviewsDiv {
    width: 500px;
    padding: 0 20px;
    margin-bottom: 3rem;
  }
}

@media (max-width: 650px) {
  .subcontainer {
    padding: 0;
  }

  .mainContent {
    width: 100%;
  }

  .content {
    align-items: center;
  }

  .topPart {
    align-items: center;
    width: 416px;
  }

  .name {
    font-size: 20px;
    margin: 0;
    padding-left: 0;
  }

  .averageRating {
    font-size: 13px;
    margin: 0;
  }

  .leftSide {
    width: 100%;
  }

  .imageContainer {
    width: 93%;
  }

  .imageContainer img {
    margin: auto;
    height: 300px;
  }

  .rightSide {
    width: 416px;
  }

  .description {
    font-size: 10px;
    width: 416px;
  }

  .reviewsDiv {
    width: 400px;
  }

  .reviewsDiv h2 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .mainContent {
    width: 100%;
  }

  .topPart {
    align-items: center;
    width: 340px;
  }

  .name {
    font-size: 18px;
    margin: 0;
    padding-left: 0;
  }

  .averageRating {
    font-size: 11px;
    margin: 0;
  }

  .leftSide {
    width: 100%;
  }

  .imageContainer {
    width: 92%;
  }

  .imageContainer img {
    margin: auto;
    height: 250px;
  }

  .rightSide {
    width: 325.4px;
  }

  .description {
    font-size: 9px;
    width: 325.6px;
  }

  .price {
    font-size: 11px;
  }

  .bookNowButton {
    font-size: 11px;
    padding: 4px 17px;
  }

  .reviewsDiv {
    width: 300px;
  }

  .reviewsDiv h2 {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .mainContent {
    width: 100%;
  }

  .mainPart {
    gap: 1rem;
    align-items: center;
  }

  .topPart {
    flex-direction: column;
  }

  .name {
    font-size: 20px;
  }

  .leftSide {
    width: 100%;
  }

  .imageContainer {
    width: 92%;
  }

  .imageContainer img {
    margin: auto;
    height: 200px;
  }

  .rightSide {
    width: 276px;
    padding: 0;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    font-size: 10px;
    width: 256px;
  }

  .reviewsDiv {
    width: 250px;
    padding: 0 10px;
  }

  .reviewsDiv h2 {
    font-size: 20px;
    padding-bottom: 0;
  }
}

@media (max-width: 322px) {
  .content {
    margin: 0;
  }

  .topPart {
    width: 310px;
  }
}
