:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --darker-blue: #061e25;
  --dark-blue: #082831;
  --light-green: #83ab55;
  --light-gray: #d8e1ec;
  --light-blue: #11576f;
}

table {
  border-collapse: collapse;
}

.headerDiv {
  background-color: var(--dark-blue);
}

.container {
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  min-height: 100vh;
}

.mainTitle {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--light-gray);
  margin-top: 0;
  margin-bottom: 5rem;
}

.feedbacks {
  background-color: rgba(17, 87, 111, 0.5);
  box-shadow: 0px 3.0422677993774414px 3.0422677993774414px rgba(0, 0, 0, 0.25);
  margin-bottom: 4rem;
  border-radius: 9px;
}

.tableTitle {
  background-color: rgba(8, 40, 49, 0.85);
  color: var(--light-gray);
  font-size: 18px;
  margin: 0;
  padding: 1rem 4rem;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  text-align: center;
}

.tableHeadRow {
  color: var(--light-gray);
}

.table {
  padding: 0 2.5rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.tableDataRow {
  height: 160px;
}

.tableCell,
.tableDataCell {
  font-size: 14.5px;
  text-transform: uppercase;
  color: var(--light-gray);
  padding: 1.5rem;
  text-align: center;
}

.tableCell {
  background-color: rgba(17, 87, 111, 0.5);
}

.tableDataCell {
  background-color: rgba(8, 40, 49, 0.63);
  font-size: 11.4px;
  font-weight: bold;
  padding: 2rem;
}

.tableDataCell:nth-child(4) {
  width: 300px;
  text-align: justify;
}

.tableDataCell:last-child div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.actionButton {
  cursor: pointer;
}

.table tbody tr:not(:last-child) {
  border-bottom: 2px solid var(--light-gray);
}
